/* INTRODUCAO ---------------------------------------- */
#intro {
    padding-right: 0;
}

#intro_info {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

#intro_info a {
    grid-column: 7 / 15;
    grid-row: 2 / 9;
    position: relative;
    overflow: hidden;
}

#intro_info h1 {
    padding-top: 5%;
    grid-column: 1 / 10;
    grid-row: 2 / 8;
    align-self: start;
    margin: 0;
    position: relative;
    overflow: hidden;
    mix-blend-mode: multiply;
}

#intro_info p {
    padding-top: 5%;
    grid-column: 1 / 4;
    grid-row: 7/10;
    color: black;
    z-index: 99;
    text-align: start;
    padding-right: 70px;
}

#intro_info img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    opacity: 0.7;
    padding-top: 2%;
}