main article {
    min-height: 100vh;
}

/* INTRODUCAO ---------------------------------------- */
#intro {
    padding-right: 0;
}

#artigo_intro {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 15vh repeat(8, 1fr);
}

#artigo_intro a {
    grid-column: 7 / 15;
    grid-row: 2 / 9;
    position: relative;
    overflow: hidden;
}

#artigo_intro h1 {
    padding-top: 5%;
    grid-column: 1 / 10;
    grid-row: 2 / 8;
    align-self: start;
    margin: 0;
    position: relative;
    overflow: hidden;
    mix-blend-mode: multiply;
}

#artigo_intro p {
    padding-top: 5%;
    grid-column: 1 / 4;
    grid-row: 7/10;
    color: black;
    z-index: 99;
    text-align: start;
    padding-right: 70px;
}

#artigo_intro img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    opacity: 0.7;
    padding-top: 2%;
}


/* LIVROS ----------------------------------------------- */
#livros {
    grid-template-rows: 15vh repeat(8, 1fr);
}

/* Novas Cartas */
.artigo_livro:nth-child(1) {
    grid-column: 1 / span 5;
    grid-row: 3 / span 7;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.artigo_livro:nth-child(1) a {
    grid-column: 1 / 4;
    grid-row: 3 / 7;
}


.artigo_livro:nth-child(1) p {
    grid-column: 1 / 4;
    grid-row: 7 / 9;
    align-self: end;
    padding-bottom: 13vh;
}

.artigo_livro:nth-child(1) h3 {
    grid-column: 3 / 7;
    grid-row: 5 / 7;
    align-self: end;
    margin-left: 15%;
    mix-blend-mode: multiply;
}

/* The Second Sex */
.artigo_livro:nth-child(2) {
    grid-column: 5 / 7;
    grid-row: 2 / 4;
}


.artigo_livro:nth-child(2) p {
    grid-column: 7 / 9;
    align-self: end;
    padding-bottom: 13vh;
} 


/* Happening */
.artigo_livro:nth-child(3) {
    grid-column: 8 / 10;
    grid-row: 5 / 10;
    position: relative;
}


.artigo_livro:nth-child(3) p {
    align-self: end;
    padding-bottom: 13vh;
}

/* Baseline Shift */
.artigo_livro:nth-child(4) {
    grid-column: 10 / span 5;
    grid-row: 2 / span 7;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.artigo_livro:nth-child(4) a {
    grid-column: 3 / 6;
    grid-row: 1 / 5;
}


.artigo_livro:nth-child(4) p {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: end;
    align-self: end;
    margin-bottom: 0;
}

.artigo_livro:nth-child(4) h3 {
    grid-column: 1 / 4;
    grid-row: 4 / 7;
    text-align: end;
    margin-left: 15%;
    mix-blend-mode: multiply;
    margin-top: 5%;
}

/* Images */
.artigo_livro img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 1;
}



/* FILMES ----------------------------------------------- */
#filmes {
    grid-template-rows: 15vh repeat(8, 1fr);
}

/* Erin Brockovich */
.artigo_filme {
    grid-column: 1 / span 2;
    grid-row: 3 / span 7;
}


/* Images */
.artigo_filme img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 1;
}