main article {
    grid-column: 1 / -1;
    min-height: 100vh;

    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 15vh repeat(8, 1fr);

    padding-inline: 70px;
    box-sizing: border-box;
}

.titulo_entrevista:nth-child(1) {
    grid-column: 1 / span 5;
    grid-row: 2 / span 2;
    z-index: 2;

    pointer-events: none;
    mix-blend-mode: multiply;
    margin: 0;
}

.titulo_entrevista:nth-child(2) {
    grid-column: 10 / span 5;
        grid-row: 7 / span 2;
        z-index: 2;
        text-align: end;
    
        pointer-events: none;
        mix-blend-mode: multiply;
        margin: 0;
}

#entrevista {
    grid-column: 2 / 14;
    grid-row: 3 / 9;
    width: 100%;
    height: 95%;
    object-fit: cover;
    object-position: top;
    max-height: calc(100vh - 15vh);
}