main article {
    grid-column: 1 / -1;
    min-height: 100vh;

    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 15vh repeat(8, 1fr);

    padding-inline: 70px;
    box-sizing: border-box;
}

#entrevista {
    grid-column: 1 / -1;
    grid-row: 2 / 9;
    width: 100%;
    height: 75%;
    object-fit: cover;
    max-height: calc(100vh - 15vh);
}