/* FOOTER -------------------------------------------------- */
#footer {
    background-color: black;
    grid-template-rows: 15vh repeat(8, 1fr);
    min-height: 100vh;
}

.artigo_footer:nth-child(1) {
    grid-column: 1 / 10;
    grid-row: 4 / span 2;
    width: 100%;
    height: auto;
    z-index: 99;
    position: relative;
    bottom: 10vh;
}

.artigo_footer:nth-child(2) {
    grid-column: 1 / 6;
    grid-row: 6;
    margin-top: 15%;
}

.artigo_footer:nth-child(3) {
    grid-column: 1 / span 4;
    grid-row: 8;
}

.artigo_footer:nth-child(4) {
    grid-column: 5 / span 4;
    grid-row: 8;
}

.artigo_footer:nth-child(5) {
    grid-column: 9 / span 4;
    grid-row: 8;
}

.artigo_footer:nth-child(6) {
    grid-column: 13 / span 2;
    grid-row: 8;
}


.artigo_footer p, .artigo_footer h3, .artigo_footer a {
    color: white;
}

.artigo_footer a {
    text-decoration: underline;
}