/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

html,
body {
    margin: 0;
    font-size: clamp(12px, 2vw, 17px);
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: auto 1fr;
    column-gap: 20px;
    row-gap: 0px;
    padding: 0;
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: 'League Gothic';
    font-weight: 400;
    text-transform: uppercase;
    color: #DE71AA;
}

p {
    font-family: "Libertinus Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem; /* 14.4pt */
    line-height: 1.37rem; /* 16.4pt */
}

h1 {
    font-size: 5.4rem;
    line-height: 5.57rem;
}

h3 {
    font-size: 1.9rem;
}

a h1, a h2, a h3 {
    font-family: 'League Gothic', Arial, sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

header {
    grid-column: 1 / -1;
    grid-row: 1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    align-items: center;
    grid-auto-flow: column;
    padding: 15px 70px;
    z-index: 99;
    mix-blend-mode: multiply;
}

header a {
    display: flex;
    align-items: center;
    height: 5%;
    text-decoration: none;
    mix-blend-mode: multiply;
}

/* Logo */
header a:first-child {
    grid-column: 1 / 3;
    justify-content: flex-start;
    height: 1.9rem;
    width: auto;
    display: block;
}

header a:first-child img {
    height: 120%;
    width: auto;
    object-fit: contain;
    display: block;
}

/* Sections */
.header_link {
    grid-column: span 3;
    justify-content: flex-end;
    text-align: right;
}

.header_link:nth-of-type(1) {
    grid-column: -4 / -1;
}

.header_link:nth-of-type(2) {
    grid-column: -13 / -10;
}

.header_link:nth-of-type(3) {
    grid-column: -10 / -7;
}

.header_link:nth-of-type(4) {
    grid-column: -7 / -4;
}

main {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 20px;
}