/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

html,
body {
    margin: 0;
    font-size: clamp(12px, 1.5vw + 1vh, 17px);
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: auto 1fr;
    column-gap: 20px;
    height: 100vh;
}


/* TYPE HIERARCHY ------------------------------------------------------- */
h1,
h2,
h3 {
    font-family: 'League Gothic';
    font-weight: 400;
    text-transform: uppercase;
}

h1 {
    font-size: 5.4rem;
    line-height: 5.57rem;
}

h2 {
    font-size: 3.2rem;
    line-height: 3.37rem;
}

h3 {
    font-size: 1.9rem;
    line-height: 2.07rem;
}

p {
    font-family: "Libertinus Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem; /* 14.4pt */
    line-height: 1.37rem; /* 16.4pt */
}

.legenda {
    font-family: "Libertinus Serif", serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.17rem;
}

.pink {
    color: #DE71AA;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

a h1,
a h2,
a h3 {
    font-family: 'League Gothic', Arial, sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}


/* HEADER ---------------------------------------------- */
header {
    grid-column: 1 / -1;
    grid-row: 1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    align-items: center;
    grid-auto-flow: column;
    padding: 15px 70px;
    z-index: 199;
    mix-blend-mode: multiply;
}

header.white_header a h3 {
    color: white;
}

header.white_header {
    mix-blend-mode: normal;
}

header a {
    display: flex;
    align-items: center;
    height: 5%;
    text-decoration: none;
    mix-blend-mode: multiply;
}

/* Logo */
header a:first-child {
    grid-column: 1 / span 4;
    justify-content: flex-start;
    height: 1.9rem;
    width: auto;
    display: block;
}

header a:first-child img {
    height: 120%;
    width: auto;
    object-fit: contain;
    display: block;
}

/* Sections */
.header_link {
    grid-column: span 2;
        justify-content: center;
        text-align: center;
        justify-self: end;
}

/* MAIN --------------------------------------------------- */
main {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 20px;

    overflow-y: auto;
    scroll-snap-type: y mandatory;
    overscroll-behavior-y: contain;
}

main article {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 0;
    padding-left: 70px;
    padding-right: 70px;

    scroll-snap-align: start;
}

.gap {
    column-gap: 20px;
}



/* título sobre imagem */
.img_title {
    position: absolute;
    inset: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 1;
}





/* RESPONSIVIDADE --------------------------------------------------------------------------------- */
/* TYPE HIERARCHY -------------*/
@media(max-width: 1650px) {
    h1 {
        font-size: 4.8rem;
        line-height: 4.97rem;
    }

    h3 {
        font-size: 1.7rem;
        line-height: 1.87rem;
    }
}

@media(max-width: 1600px), (max-height: 860px) {
    h2 {
        font-size: 2.9rem;
        line-height: 3.07rem;
    }

    p {
        font-size: 1.1rem;
        line-height: 1.27rem;
    }
}

@media(max-width: 1480px), (max-height: 820px) {
    h1 {
        font-size: 4.4rem;
        line-height: 4.57rem;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 2.67rem;
    }

    h3 {
        font-size: 1.4rem;
        line-height: 1.57rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.07rem;
    }

    .legenda {
        font-size: 0.9rem;
        line-height: 0.95rem;
    }
}

@media(max-width: 1380px) {
    h1 {
        font-size: 4.2rem;
        line-height: 4.37rem;
    }

    h2 {
        font-size: 2rem;
        line-height: 2.07rem;
    }
}

@media(max-width: 1280px), (max-height: 650px) {
    h1 {
        font-size: 3.9rem;
        line-height: 4.07rem;
    }

    h3 {
        font-size: 1.2rem;
        line-height: 1.37rem;
    }

    p {
        font-size: 0.9rem;
        line-height: 1.07rem;
    }

    .legenda {
        font-size: 0.8rem;
        line-height: 0.97rem;
    }
}

@media(max-width: 1240px), (max-height: 500px) {
    h1 {
        font-size: 3.7rem;
        line-height: 3.87rem;
    }

    h2 {
        font-size: 2rem;
        line-height: 2.07rem;
    }

    p {
        font-size: 0.8rem;
        line-height: 0.97rem;
    }
}