/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

html,
body {
    margin: 0;
    font-size: clamp(12px, 1.5vw + 1vh, 17px);
    height: 100%;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: auto 1fr;
    column-gap: 20px;
    height: 100vh;
}


/* TYPE HIERARCHY ------------------------------------------------------- */
h1,
h2,
h3 {
    font-family: 'League Gothic';
    font-weight: 400;
    text-transform: uppercase;
}

h1 {
    font-size: 5.4rem;
    line-height: 5.57rem;
}

h2 {
    font-size: 3.2rem;
    line-height: 3.37rem;
}

h3 {
    font-size: 1.9rem;
    line-height: 2.07rem;
}

p {
    font-family: "Libertinus Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    /* 14.4pt */
    line-height: 1.37rem;
    /* 16.4pt */
}

.legenda {
    font-family: "Libertinus Serif", serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.17rem;
}

.pink {
    color: #DE71AA;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

a h1,
a h2,
a h3 {
    font-family: 'League Gothic', Arial, sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}


/* HEADER ---------------------------------------------- */
header {
    grid-column: 1 / -1;
    grid-row: 1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    align-items: center;
    grid-auto-flow: column;
    padding: 15px 70px;
    z-index: 199;
    mix-blend-mode: multiply;
    position: sticky;
    top: 0;
}

.logo_pink {
    opacity: 1;
}

.logo_white {
    opacity: 0;
    position: absolute;
}

/* quando o header estiver na secção rosa */
header.white_header .logo_pink {
    opacity: 0;
}

header.white_header .logo_white {
    opacity: 1;
}


header.white_header a h3 {
    color: white;
}

header.white_header {
    mix-blend-mode: normal;
}

header a {
    display: flex;
    align-items: center;
    height: 5%;
    text-decoration: none;
    mix-blend-mode: multiply;
}

/* Logo */
.logo_desktop {
    grid-column: 1 / span 4;
    justify-content: flex-start;
    height: 1.9rem;
    width: auto;
    display: block;
    position: relative;
}

.logo_desktop img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.logo_desktop img {
    height: 120%;
    width: auto;
    object-fit: contain;
    display: block;
}

/* Sections */
.header_link {
    grid-column: span 2;
    justify-content: center;
    text-align: center;
    justify-self: end;
}

.logo_mobile {
    display: none;
}


/* MAIN --------------------------------------------------- */
main {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 20px;

    height: 100vh;
    /* Altura total da viewport */
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    overscroll-behavior-y: contain;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
}

main article {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 0;
    padding-left: 70px;
    padding-right: 70px;

    height: 100vh;
    scroll-snap-align: start;
    box-sizing: border-box;
}

.gap {
    column-gap: 20px;
}



/* título sobre imagem */
.img_title {
    position: absolute;
    inset: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}

.logo_mobile img,
.logo_desktop img {
    height: 2.5rem;
    width: auto;
    object-fit: contain;
}

img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 1;
}


