main article {
    min-height: 100vh;
}

/* FIRST SECTION - HOMEPAGE ------------------------------------------------- */
.homepage_grid {
    grid-column: 1 / -1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
    padding-top: 15vh;
    position: relative;
}

.homepage_grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.main_logo {
    grid-column: 4 / 12;
    grid-row: 1;
    width: 100%;
    height: auto;
    mix-blend-mode: multiply;
    align-self: center;
    position: relative;
    bottom: 10vh;
}


/* MULHERES ------------------------------------------------- */
.artigo_mulher {
    padding-top: 15vh;
}

.artigo_mulher img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.6;
}

.artigo_mulher h2 {
    mix-blend-mode: multiply;
}

/* TRES MARIAS */
.artigo_mulher:first-child {
    grid-column: span 4;
    grid-row: 1 / 8;
}

.artigo_mulher:first-child h2 {
    grid-row: 3 / 8;
    position: relative;
    bottom: 7vh;
    left: 15vh;
}

/* ANARCHA */
.artigo_mulher:nth-child(2) {
    grid-column: 6 / span 4;
    grid-row: 1 / 9;
}

.artigo_mulher:nth-child(2) h2 {
    grid-row: 3 / 8;
    position: relative;
    top: 7vh;
    left: 18vh;
    z-index: 5;
}

/* BEATRIZ */
.artigo_mulher:nth-child(3) {
    grid-column: 11 / span 4;
    grid-row: 1 / 8;
}

.artigo_mulher:nth-child(3) h2 {
    grid-row: 3 / 8;
    position: relative;
    bottom: 7vh;
    right: 5vh;
}




/* MARIAS ------------------------------------------------- */
#maria_grid {
    grid-column: 1 / -1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    padding-top: 17vh;
    align-items: start;
}

.maria_item {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}

.maria_text {
    grid-column: 5 / span 8;
}

.maria_item img {
    width: 70%;
    margin: 0 auto;
    height: auto;
    display: block;
}

.maria_item img { 
    cursor: pointer;
}

.maria_item p {
    text-align: center;
    margin-top: 8px;
    font-size: 0.9em;
    color: #DE71AA;
}


/* CULTURA -------------------------------------------------- */
#cultura {
    background-color: #DE71AA;
}

.artigo_cultura {
    padding-top: 15vh;
    grid-column: span 6;
}

.artigo_cultura h1 {
    color: white;
    margin: 0;
}