main article {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    height: 100vh;
    padding: 0 70px;

    scroll-snap-align: start;
}


/* FIRST SECTION - HOMEPAGE */
.main_logo {
    grid-column: 4 / 12;
    grid-row: 1;
    width: 100%;
    height: auto;
    justify-self: center;
    position: relative;
    top: 22%;
    mix-blend-mode: multiply;
}

.homepage_grid {
    grid-column: 1 / -1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
    position: relative;
    height: 100vh;
}

.homepage_grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* MULHERES */
#mulheres {
    grid-auto-rows: 1fr;
}

.artigo_mulher, .links_mulheres {
    display: contents;
}

.artigo_mulher img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.artigo_mulher h2 {
    mix-blend-mode: multiply;
}

/* Imagem 1 */
.artigo_mulher:nth-of-type(1) img {
    grid-column: 1 / 5;
    grid-row: 1 / 6;
}

/* Texto 1 */
.artigo_mulher:nth-of-type(1) h2 {
    grid-column: 2 / 6;
    grid-row: 6 / 8;
    position: relative;
    bottom: 28%;
}

/* Imagem 2 */
.artigo_mulher:nth-of-type(2) img {
    grid-column: 6 / 10;
    grid-row: 2 / 6;
    width: 100%;
    opacity: 0.7;
}

/* Texto 2 */
.artigo_mulher:nth-of-type(2) h2 {
    grid-column: 7 / 11;
    grid-row: 1 / 3;
    mix-blend-mode: multiply;
    position: relative;
    top: 15%;
    left: 10%;
}

/* Imagem 3 */
.artigo_mulher:nth-of-type(3) img {
    grid-column: 11 / 15;
    grid-row: 1 / 5;
    width: 100%;
    opacity: 0.7;
}

/* Texto 3 */
.artigo_mulher:nth-of-type(3) h2 {
    grid-column: 11 / 14;
    grid-row: 4 / 8;
    mix-blend-mode: multiply;
    position: relative;
    top: 10%;
    left: 10%;
}

/* Legenda */
.artigo_mulher:nth-of-type(3) a {
    grid-column: 13 / 15;
    grid-row: 6;
    text-align: end;
    z-index: 10;
}