#homepage {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: auto;
    max-height: 85%;
    padding: 15px 70px;
}

.main_logo {
    grid-column: 4 / 12;
    grid-row: 1;
    width: 100%;
    height: auto;
    justify-self: center;
    position: relative;
    top: 22%;
    mix-blend-mode: multiply;
}

.homepage_grid {
    grid-column: 1 / -1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
    position: relative;
    max-height: 100%;
}

.homepage_grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}