.mulheres_grid {
    height: 100vh;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 15vh repeat(7, 1fr);
}

.mulher_img {
    position: relative;
    grid-column: span 2;
    grid-row: 2 / span 3;
    width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
}

.second {
    grid-row: 5 / span 3;
}

.mulher_img a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.mulher_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.img_title p, .img_title h3 {
    margin: 0;
}

/* hover */
.mulher_img:hover .img_title {
    opacity: 1;
}




/* RESPONSIVIDADE ------------------------------------------------------------ */
@media (max-width: 1650px) and (max-height: 800px) {
    .mulheres_grid {
        grid-template-rows: 20vh repeat(7, 1fr);
    }
}