main {
    grid-row: 1 / -1;
    grid-auto-rows: 100vh;
    row-gap: 0;
    padding: 0;
}

main article {
    padding: 0;
}

.mulher_individual_img {
    grid-column: 1 / 8;
    grid-row: 1;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.mulher_individual_img img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    opacity: 0.7;
}

.mulher_individual_text h1 {
    grid-column: 1 / 6;
    grid-row: 2 / span 2;
    margin: 0;
}

.mulher_individual_text {
    grid-column: 7 / 14;
    grid-row: 1;
    height: 100vh;
    position: relative;
    z-index: 99;
    mix-blend-mode: multiply;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 15vh repeat(8, 1fr);
    column-gap: 20px;
}

.mulher_individual_text p {
    grid-column: 3 / -1;
    grid-row: 5 / span 2;
    position: relative;
    margin: 0;
}

.mulher_individual_mais {

}