main {
    grid-row: 1 / -1;
    grid-auto-rows: 100vh;
    row-gap: 0;
    padding: 0;
}

main article {
    padding: 0;
}

.mulher_individual_img {
    grid-column: 1 / 8;
    grid-row: 1;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.mulher_individual_img img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    opacity: 0.7;
}

.mulher_individual_text h1 {
    grid-column: 1 / 7;
    grid-row: 2;
    margin: 0;
    align-self: end;
}

.mulher_individual_text {
    grid-column: 7 / 14;
    grid-row: 1;
    height: 100vh;
    position: relative;
    z-index: 99;
    mix-blend-mode: multiply;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 15vh repeat(8, 1fr);
    column-gap: 20px;
}

.mulher_individual_text p {
    grid-column: 3 / -1;
    grid-row: 4 / span 4;
    position: relative;
    margin: 0;
}

.mulher_individual_text h3 {
    grid-column: 3 / span 2;
    grid-row: 7 / span 3;
    align-self: center;
}

.mulher_individual_text h3:hover {
    cursor: pointer;
}

/* LINKS */
.mulher_individual_text div {
    grid-column: 3 / -1;
    grid-row: 9;
    align-self: start;

    opacity: 0;
    pointer-events: none;
}

.mulher_individual_text div a {
    line-height: 1.5rem;
    margin-top: 0;
    text-decoration: underline;
    color: black;
    position: relative;
    bottom: 15%;
}

.mulher_individual_text div.mostrar {
    opacity: 1;
    pointer-events: auto;
}


/* LIZZIE + OLGA + BERTHE + MARY */
#lizzie_magie .mulher_individual_text .citacao,
#olga_murray .mulher_individual_text .citacao,
#berthe_morisot .mulher_individual_text .citacao,
#mary_shelley .mulher_individual_text .citacao {
    grid-column: 3 / span 4;
    grid-row: 3;
    align-self: end;
    margin: 0;
}

#lizzie_magie .mulher_individual_text p,
#olga_murray .mulher_individual_text p,
#berthe_morisot .mulher_individual_text p,
#mary_shelley .mulher_individual_text p {
    align-self: center;
}

#lizzie_magie .mulher_individual_text div,
#olga_murray .mulher_individual_text div,
#berthe_morisot .mulher_individual_text div,
#mary_shelley .mulher_individual_text div {
    grid-row: 9;
    align-self: start;
}