article {
    grid-auto-rows: 35vh;
    padding-top: 15vh;
    column-gap: 0px;
}

.mulher_img {
    position: relative;
    grid-column: span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.mulher_img a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.mulher_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* hover */
.mulher_img:hover .img_title {
    opacity: 1;
}