main article {
    min-height: 100vh;
    grid-template-rows: 15vh repeat(8, 1fr);
    gap: 20px;
}

/* INTRODUCAO --------------------------------------------------------- */ 
/* IMAGEM */
.conteudo_noticas:nth-child(1) {
    grid-column: 4 / 14;
    grid-row: 3 / span 7;
}

/* TITULO */
.conteudo_noticas:nth-child(2) {
    grid-column: 1 / 8;
    grid-row: 2 / span 5;
    overflow: hidden;
}

.conteudo_noticas:nth-child(2) h1 { 
    margin: 0;
    mix-blend-mode: multiply;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* VIOLENCIA ----------------------------------------------------------- */
/* Imagem */ 
.conteudo_violencia:nth-child(1) {
    grid-column: 7 / span 8;
    grid-row: 2 / span 4;
}

/* Texto 1 */
.conteudo_violencia:nth-child(2) {
    grid-column: 1 / 4;
    grid-row: 2 / span 4;
}

/* Texto 1 */
.conteudo_violencia:nth-child(2) p {
    margin: 0;
}

/* Texto 2 */
.conteudo_violencia:nth-child(3) {
    grid-column: 7 / span 4;
    grid-row: 6 / span 4;
}

/* Links */
.conteudo_violencia:nth-child(4) {
    grid-column: 7 / span 6;
    grid-row: 8 / span 4;
    margin-top: 2%;
}

.conteudo_violencia h3 {
    cursor: pointer;
    margin-bottom: 2%;
}

.conteudo_violencia div {
    align-self: start;
    opacity: 0;
    pointer-events: none;
}

.conteudo_violencia div a {
    line-height: 1.5rem;
    margin-top: 0;
    text-decoration: underline;
    color: black;
    position: relative;
    bottom: 15%;
}

.conteudo_violencia div.mostrar {
    opacity: 1;
    pointer-events: auto;
}

/* Texto 3 */
.conteudo_violencia:nth-child(5) {
    grid-column: 11 / span 4;
    grid-row: 6 / span 4;
}

/* Titulo */
.conteudo_violencia:nth-child(6) {
    grid-column: 2 / span 3;
    grid-row: 6 / span 3;
    mix-blend-mode: multiply;
    align-self: center;
}

.conteudo_violencia:nth-child(6) h3 {
    margin-bottom: 0;
}


/* DESIGUALDADE ----------------------------------------------------------- */
/* Imagem 1 */
.conteudo_desigualdade:nth-child(1) {
    grid-column: 3 / span 4;
    grid-row: 6 / span 3;
}

/* Titulo */
.conteudo_desigualdade:nth-child(2) {
    grid-column: 1 / span 4;
    grid-row: 2 / span 5;
    mix-blend-mode: multiply;
}

/* Paragrafo 1 */
.conteudo_desigualdade:nth-child(3) {
    grid-column: 5 / span 3;
    grid-row: 2 / span 5;
}

.conteudo_desigualdade:nth-child(3) p {
    margin: 0;
}

/* Imagem 2 */
.conteudo_desigualdade:nth-child(4) {
    grid-column: 9 / span 3;
    grid-row: 1 / span 5;
}

/* Imagem 3 */
.conteudo_desigualdade:nth-child(5) {
    grid-column: 12 / span 3;
    grid-row: 2 / span 5;
}

/* Paragrafo 2 */
.conteudo_desigualdade:nth-child(6) {
    grid-column: 9 / span 3;
    grid-row: 6 / span 3;
}

/* Links */
.conteudo_desigualdade:nth-child(7) {
    grid-column: 9 / span 6;
    grid-row: 8 / span 4;
    margin: 0;
    align-self: center;
}

.conteudo_desigualdade h3 {
    cursor: pointer;
    margin-bottom: 2%;
    margin-top: 0;
}

.conteudo_desigualdade div {
    align-self: start;
    opacity: 0;
    pointer-events: none;
}

.conteudo_desigualdade div a {
    line-height: 1.5rem;
    margin-top: 0;
    text-decoration: underline;
    color: black;
    position: relative;
    bottom: 15%;
}

.conteudo_desigualdade div.mostrar {
    opacity: 1;
    pointer-events: auto;
}


/* Paragrafo 3 */
.conteudo_desigualdade:nth-child(8) {
    grid-column: 12 / span 3;
    grid-row: 7 / span 3;
}


/* DESIGUALDADE NA ARTE ----------------------------------------------------------- */
#desigualdade_arte {
    background-color: #DE71AA;
}

.conteudo_desigualdade_arte:nth-child(1) {
    grid-column: 6 / span 4;
    grid-row: 2 / span 4;
    text-align: center;
}

.conteudo_desigualdade_arte:nth-child(2) {
    grid-column: 5 / span 6;
    grid-row: 7 / span 3;
}

.conteudo_desigualdade_arte:nth-child(2) p {
    margin: 0;
}


/* CONQUISTAS ----------------------------------------------------------- */
/* Imagem */
.conteudo_conquistas:nth-child(1) {
    grid-column: 1 / span 7;
    grid-row: 5 / span 5;
}

/* Titulo */
.conteudo_conquistas:nth-child(2) {
    grid-column: 7 / span 7;
    grid-row: 6 / span 2;
    mix-blend-mode: multiply;
}

/* Texto 1 */
.conteudo_conquistas:nth-child(3) {
    grid-column: 1 / span 6;
    grid-row: 2 / span 2;
}

.conteudo_conquistas:nth-child(3) p {
    margin-top: 0;
}

/* Texto 2 */
.conteudo_conquistas:nth-child(4) {
    grid-column: 8 / span 3;
    grid-row: 2 / span 2;
}

/* Texto 3 */
.conteudo_conquistas:nth-child(5) {
    grid-column: 12 / span 3;
    grid-row: 2 / span 2;
}


/* Links */
.conteudo_conquistas:nth-child(6) {
    grid-column: 12 / span 3;
    grid-row: 5 / span 2;
    margin: 0;
    align-self: start;
}

.conteudo_conquistas h3 {
    cursor: pointer;
    margin-bottom: 2%;
    margin-top: 0;
}

.conteudo_conquistas div {
    align-self: start;
    opacity: 0;
    pointer-events: none;
}

.conteudo_conquistas div a {
    margin-top: 0;
    text-decoration: underline;
    color: black;
    position: relative;
    bottom: 15%;
}

.conteudo_conquistas div.mostrar {
    opacity: 1;
    pointer-events: auto;
}