main article {
    min-height: 100vh;
    grid-template-rows: 15vh repeat(8, 1fr);
    gap: 20px;
}

/* INTRODUCAO --------------------------------------------------------- */ 
/* IMAGEM */
.conteudo_noticas:nth-child(1) {
    grid-column: 6 / 15;
    grid-row: 3 / span 6;
}

/* TITULO */
.conteudo_noticas:nth-child(2) {
    grid-column: 1 / 8;
    grid-row: 2 / span 5;
    overflow: hidden;
}

.conteudo_noticas:nth-child(2) h1 { 
    margin: 0;
    mix-blend-mode: multiply;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* VIOLENCIA ----------------------------------------------------------- */
.conteudo_violencia:nth-child(1) {
    grid-column: 7 / span 8;
    grid-row: 2 / span 4;
}

.conteudo_violencia:nth-child(2) {
    grid-column: 1 / 4;
    grid-row: 2 / span 4;
}

.conteudo_violencia:nth-child(3) {
    grid-column: 7 / span 4;
    grid-row: 7 / span 4;
}

.conteudo_violencia:nth-child(4) {
    grid-column: 11 / span 4;
    grid-row: 7 / span 4;
}

.conteudo_violencia:nth-child(5) {
    grid-column: 3 / span 3;
    grid-row: 6 / span 4;
    mix-blend-mode: multiply;
}