/* CULTURA -------------------------------------------------- */
#cultura {
    background-color: #DE71AA;
}

#titulo {
    padding-top: 15vh;
    grid-column: 1 / 6;
    grid-row: 1 / 3;
}

/* LIVRO */
.artigo_cultura:nth-child(2) {
    grid-column: 1 / 6;
    grid-row: 3/6;
    padding-top: 4vh;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.artigo_cultura:nth-child(2) a {
    grid-column: 1 / 4;
}

.artigo_cultura:nth-child(2) p {
    grid-column: 4 / 6;
    margin: 0;
    align-self: end;
    padding-bottom: 13vh;
}

/* FILME */
.artigo_cultura:nth-child(3) {
    grid-column: 6 / 8;
    grid-row: 3/5;
    padding-bottom: 4vh;
}

/* DESIGN */
.artigo_cultura:nth-child(4) {
    grid-column: 9 / 15;
    align-self: end;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 10vh;
}

.artigo_cultura:nth-child(4) a {
    grid-column: 1 / 4;
}

.artigo_cultura:nth-child(4) p {
    grid-column: 4 / 6;
    margin: 0;
    align-self: end;
    padding-bottom: 3vh;
}

/* MUSICA */
.artigo_cultura:nth-child(5) {
    grid-column: 12 / 14;
    grid-row: 1/4;
    align-self: end;
    padding-top: 6vh;
}


.artigo_cultura h1 {
    color: white;
    margin: 0;
}

.artigo_cultura img {
    width: 90%;
}


/* MOBILE  ----------------------------- */
@media (max-width: 890px) {
    #cultura {
        height: 100vh;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 10vh repeat(6, 1fr) 5vh;
        margin-bottom: 10vh;
    }

    #titulo {
        display: block;
        padding: 0;
        grid-column: 1 / -1;
        grid-row: 2 / span 2;
    }

    /* LIVRO */
    .artigo_cultura:nth-child(2) {
        padding-top: 5%;
        display: block;
        grid-column: 1 / span 3;
        grid-row: 3 / span 3;
    }

    .artigo_cultura:nth-child(2) P {
        padding-top: 5%;
    }

    /* FILME */
    .artigo_cultura:nth-child(3) {
        display: block;
        grid-column: 4 / span 3;
        grid-row: 5 / -1;
    }

    /* DESIGN */
    .artigo_cultura:nth-child(4) {
        display: block;
        padding-top: 0;
        grid-column: 1 / span 3;
        grid-row: 6 / span 2;
    }

    /* MUSICA */
    .artigo_cultura:nth-child(5) {
        grid-column: 4 / span 3;
        grid-row: 3 / span 2;
    }

}