/* ENTREVISTA ---------------------------------------- */
#entrevistas {
    padding-right: 0;
    grid-template-rows: 15vh repeat(8, 1fr);
}

#img_entrevista {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    display: grid;
    grid-template-columns: repeat(14, 1fr);
}

#img_entrevista a {
    grid-column: 8 / 15;
    position: relative;
    overflow: hidden;
}

#img_entrevista h1 {
    padding-top: 5%;
    grid-column: 1 / 10;
    position: relative;
    overflow: hidden;
    mix-blend-mode: multiply;
}

#img_entrevista h3 {
    padding-top: 5%;
    grid-column: 12 / 15;
    grid-row: 10/11;
    color: black;
    z-index: 99;
    text-align: end;
    padding-right: 70px;
}

#img_entrevista h3 {
    padding-top: 5%;
    grid-column: 1 / 3;
    grid-row: 10/11;
    color: black;
    z-index: 99;
    text-align: start;
    padding-right: 70px;
}

#imagem_mae {
    position: absolute;
    object-fit: cover;
    object-position: top center;
}