main article {
    min-height: 100vh;
}


/* FIRST SECTION - HOMEPAGE ------------------------------------------------- */
#homepage {
    grid-template-rows: 15vh repeat(8, 1fr);
}

.homepage_grid {
    grid-column: 1 / -1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
    padding-top: 15vh;
    position: relative;
}

.homepage_grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.main_logo {
    grid-column: 4 / 12;
    grid-row: 5;
    width: 100%;
    height: auto;
    mix-blend-mode: multiply;
    align-self: center;
    position: relative;
    bottom: 10vh;
}
