/* MARIAS ------------------------------------------------- */
#maria_grid {
    grid-column: 1 / -1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    padding-top: 17vh;
    align-items: start;
}

.maria_item {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}

.maria_text {
    grid-column: 4 / span 8;
    text-align: center;
}

.maria_item img {
    width: 70%;
    margin: 0 auto;
}

.maria_item img {
    cursor: pointer;
}

.maria_item p {
    text-align: center;
    margin-top: 8px;
    font-size: 0.9em;
}