/* MULHERES ------------------------------------------------- */
.artigo_mulher {
    padding-top: 15vh;
}

.artigo_mulher h2 {
    mix-blend-mode: multiply;
}

/* TRES MARIAS */
.artigo_mulher:first-child {
    grid-column: span 4;
    grid-row: 1 / 8;
}

.artigo_mulher:first-child h2 {
    grid-row: 3 / 8;
    position: relative;
    bottom: 7vh;
    left: 15vh;
}

/* ANARCHA */
.artigo_mulher:nth-child(2) {
    grid-column: 6 / span 4;
    grid-row: 1 / 9;
}

.artigo_mulher:nth-child(2) h2 {
    grid-row: 3 / 8;
    position: relative;
    top: 7vh;
    left: 18vh;
    z-index: 5;
}

/* BEATRIZ */
.artigo_mulher:nth-child(3) {
    grid-column: 11 / span 4;
    grid-row: 1 / 8;
}

.artigo_mulher:nth-child(3) h2 {
    grid-row: 3 / 8;
    position: relative;
    bottom: 7vh;
    right: 5vh;
}



/* RESPONSIVIDADE ------------------------------------------------- */
@media (max-width: 1450px),
(max-height: 760px) {
    #mulheres {
        min-height: 100vh;
        grid-template-rows: 15vh repeat(7, 1fr);
        gap: 20px;
    }

    /* marias */
    .artigo_mulher:first-child {
        grid-column: span 3;
        grid-row: 2 / 9;
        padding-top: 0;
        align-self: end;
    }

    /* Anarcha */
    .artigo_mulher:nth-child(2) {
        grid-column: 6 / span 3;
        grid-row: 1 / 9;
    }

    .artigo_mulher:nth-child(2) h2 {
        margin-top: 0;
    }

    /* Beatriz */
    .artigo_mulher:nth-child(3) {
        grid-column: 11 / span 3;
        grid-row: 2 / 9;
        padding-top: 0;
        align-self: end;
    }

    .artigo_mulher:nth-child(3) h2 {
        grid-row: 3 / 8;
        position: relative;
        bottom: 7vh;
        right: 5vh;
    }
}