/* NOTICIAS -------------------------------- */
#noticias {
    grid-template-rows: 15vh repeat(8, 1fr);
}

#titulo_noticias {
    grid-column: 1 / 3;
    grid-row: 2;
}

#titulo_noticias h1 {
    margin: 0;
}

.artigo_noticias {
    grid-column: span 6;
    grid-row: 3 / span 4;
    padding-top: 10%;
}

.artigo_noticias:nth-child(2) {
    grid-column: 8 / span 6;
}

.artigo_noticias h3 {
    color: black;
}

.artigo_noticias p {
    margin-top: 0;
}

.artigo_noticias img {
    height: 30vh;
    object-fit: cover;
    object-position: center;
    object-position: center;
    display: block;
}

/* RESPONSIVIDADE -------------------------------------------------------------------------------------------------- */
/* MOBILE  ----------------------------- */
@media (max-width: 890px) {
    #noticias {
        height: 100vh;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 10vh repeat(6, 1fr) 5vh;
        margin-bottom: 10vh;
    }

    #titulo_noticias {
        align-self: center;
    }

    .artigo_noticias:nth-child(2) {
        display: block;
        grid-column: 1 / -1;
        grid-row: 3 / -1;
        padding-top: 0;

    }

    .artigo_noticias:nth-child(2) a {
        display: block;
        height: 50%;
        overflow: hidden;
    }

    /* Texto 2 */
    .artigo_noticias:nth-child(3) {
        display: block;
        grid-column: 1 / -1;
        grid-row: 7 / span 3;
        align-self: end;
        padding-top: 6%;
    }

    .artigo_noticias:nth-child(3) {
        display: none;
    }

    .artigo_noticias p,
    .artigo_noticias h3 {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .artigo_noticias h3 {
        font-size: 2rem;
        line-height: 2.07rem;
    }

    /* Imgs */
    .artigo_noticias a {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .artigo_noticias a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}