/* NOTICIAS -------------------------------- */
#noticias {
    grid-template-rows: 15vh repeat(8, 1fr);
}

#titulo_noticias {
    grid-column: 1 / 3;
    grid-row: 2;
}

#titulo_noticias h1 {
    margin: 0;
}

.artigo_noticias {
    grid-column: span 6;
    grid-row: 3 / span 4;
    padding-top: 10%;
}

.artigo_noticias:nth-child(2) {
    grid-column: 8 / span 6;
}

.artigo_noticias h3 {
    color: black;
}

.artigo_noticias p {
    margin-top: 0;
}

.artigo_noticias img {
    height: 30vh;
    object-fit: cover;
    object-position: center;
    object-position: center;
    display: block;
}