/* CONQUISTAS ----------------------------------------------------------- */
/* Imagem */
.conteudo_conquistas:nth-child(1) {
    grid-column: 1 / span 7;
    grid-row: 5 / span 5;
}

/* Titulo */
.conteudo_conquistas:nth-child(2) {
    grid-column: 7 / span 7;
    grid-row: 6 / span 2;
    mix-blend-mode: multiply;
}

/* Texto 1 */
.conteudo_conquistas:nth-child(3) {
    grid-column: 1 / span 6;
    grid-row: 2 / span 2;
}

.conteudo_conquistas:nth-child(3) p {
    margin-top: 0;
}

/* Texto 2 */
.conteudo_conquistas:nth-child(4) {
    grid-column: 8 / span 3;
    grid-row: 2 / span 2;
}

/* Texto 3 */
.conteudo_conquistas:nth-child(5) {
    grid-column: 12 / span 3;
    grid-row: 2 / span 2;
}


/* Links */
.conteudo_conquistas:nth-child(6) {
    grid-column: 12 / span 3;
    grid-row: 5 / span 2;
    margin: 0;
    align-self: start;
}

.conteudo_conquistas h3 {
    cursor: pointer;
    margin-bottom: 2%;
    margin-top: 0;
}

.conteudo_conquistas div {
    align-self: start;
    opacity: 0;
    pointer-events: none;
}

.conteudo_conquistas div a {
    margin-top: 0;
    text-decoration: underline;
    color: black;
    position: relative;
    bottom: 15%;
}

.conteudo_conquistas div.mostrar {
    opacity: 1;
    pointer-events: auto;
}


/* RESPONSIVIDADE ---------------------------------------------------------------------- */
@media (max-width: 1650px) and (max-height: 800px) {
    /* Imagem */
    .conteudo_conquistas:nth-child(1) {
        grid-row: 5 / span 4;
    }

    /* Titulo */
    .conteudo_conquistas:nth-child(2) {
        grid-row: 6 / span 2;
        align-self: start;
    }

    /* Texto 1 */
    .conteudo_conquistas:nth-child(3) {
        grid-row: 2 / span 3;
    }

    /* Texto 2 */
    .conteudo_conquistas:nth-child(4) {
        grid-row: 2 / span 3;
    }

    /* Texto 3 */
    .conteudo_conquistas:nth-child(5) {
        grid-row: 2 / span 3;
    }
}