/* CONQUISTAS ----------------------------------------------------------- */
/* Imagem */
.conteudo_conquistas:nth-child(1) {
    grid-column: 1 / span 7;
    grid-row: 5 / span 5;
}

.conteudo_conquistas:nth-child(1) img {
    object-position: top;
}

/* Titulo */
.conteudo_conquistas:nth-child(2) {
    grid-column: 7 / span 7;
    grid-row: 6 / span 2;
    mix-blend-mode: multiply;
}

/* Texto 1 */
.conteudo_conquistas:nth-child(3) {
    grid-column: 1 / span 6;
    grid-row: 2 / span 2;
}

/* Texto 2 */
.conteudo_conquistas:nth-child(4) {
    grid-column: 8 / span 3;
    grid-row: 2 / span 2;
}

/* Texto 3 */
.conteudo_conquistas:nth-child(5) {
    grid-column: 12 / span 3;
    grid-row: 2 / span 2;
}

.conteudo_conquistas:nth-child(3) p,
.conteudo_conquistas:nth-child(4) p,
.conteudo_conquistas:nth-child(5) p {
    margin-top: 0;
}

/* Ver mais */
.conteudo_conquistas:nth-child(3) h3,
.conteudo_conquistas:nth-child(4) h3,
.conteudo_conquistas:nth-child(5) h3 {
    margin-top: 0;
}


/* RESPONSIVIDADE ---------------------------------------------------------------------- */
@media (max-width: 1650px) and (max-height: 800px) {
    /* Imagem */
    .conteudo_conquistas:nth-child(1) {
        grid-row: 5 / span 4;
    }

    /* Titulo */
    .conteudo_conquistas:nth-child(2) {
        grid-row: 5 / span 2;
        align-self: start;
    }

    /* Texto 1 */
    .conteudo_conquistas:nth-child(3) {
        grid-row: 2 / span 3;
    }

    /* Texto 2 */
    .conteudo_conquistas:nth-child(4) {
        grid-row: 2 / span 3;
    }

    /* Texto 3 */
    .conteudo_conquistas:nth-child(5) {
        grid-row: 2 / span 3;
    }

        /* Ver mais */
        .conteudo_conquistas:nth-child(3) p,
        .conteudo_conquistas:nth-child(4) p,
        .conteudo_conquistas:nth-child(5) p {
            margin-bottom: 2%;
        }
}