/* DESIGUALDADE ----------------------------------------------------------- */
/* Imagem 1 */
.conteudo_desigualdade:nth-child(1) {
    grid-column: 3 / span 4;
    grid-row: 6 / span 3;
}

/* Titulo */
.conteudo_desigualdade:nth-child(2) {
    grid-column: 1 / span 4;
    grid-row: 2 / span 5;
    mix-blend-mode: multiply;
}

/* Paragrafo 1 */
.conteudo_desigualdade:nth-child(3) {
    grid-column: 5 / span 3;
    grid-row: 2 / span 5;
}

.conteudo_desigualdade:nth-child(3) p {
    margin: 0;
}

/* Imagem 2 */
.conteudo_desigualdade:nth-child(4) {
    grid-column: 9 / span 3;
    grid-row: 1 / span 5;
}

/* Imagem 3 */
.conteudo_desigualdade:nth-child(5) {
    grid-column: 12 / span 3;
    grid-row: 2 / span 5;
}

/* Paragrafo 2 */
.conteudo_desigualdade:nth-child(6) {
    grid-column: 9 / span 3;
    grid-row: 6 / span 3;
}


/* Paragrafo 3 */
.conteudo_desigualdade:nth-child(7) {
    grid-column: 12 / span 3;
    grid-row: 7 / span 3;
}


/* RESPONSIVIDADE ---------------------------------------------------------------------- */
@media (max-width: 1650px) and (max-height: 800px) {
    /* Imagem 1 */
    .conteudo_desigualdade:nth-child(1) {
        grid-row: 5 / span 3;
    }
    
    /* Imagem 2 */
    .conteudo_desigualdade:nth-child(4) {
        grid-row: 1 / span 4;
    }

    /* Imagem 3 */
    .conteudo_desigualdade:nth-child(5) {
        grid-row: 2 / span 4;
    }

    /* Paragrafo 2 */
    .conteudo_desigualdade:nth-child(6) {
        grid-row: 5 / span 3;
    }

    /* Paragrafo 3 */
    .conteudo_desigualdade:nth-child(7) {
        grid-row: 6 / span 3;
    }

    /* Paragrafo 2 e 3 */
    .conteudo_desigualdade:nth-child(6) p,  .conteudo_desigualdade:nth-child(7) p{
        margin-top: 0;
    }

}



/* DESIGUALDADE NA ARTE ----------------------------------------------------------- */
#desigualdade_arte {
    background-color: #DE71AA;
}

.conteudo_desigualdade_arte:nth-child(1) {
    grid-column: 6 / span 4;
    grid-row: 2 / span 4;
    text-align: center;
}

.conteudo_desigualdade_arte:nth-child(2) {
    grid-column: 5 / span 6;
    grid-row: 7 / span 3;
}

.conteudo_desigualdade_arte:nth-child(2) p {
    margin: 0;
}

/* Responsividade */

@media (max-width: 1700px) and (max-height: 800px) {
    .conteudo_desigualdade_arte:nth-child(1) {
        grid-row: 2 / span 3;
    }

    .conteudo_desigualdade_arte:nth-child(2) {
        grid-column: 4 / span 8;
        grid-row: 6 / span 3;
    }
}