/* INTRODUCAO --------------------------------------------------------- */
/* IMAGEM */
.conteudo_noticas:nth-child(1) {
    grid-column: 4 / 14;
    grid-row: 3 / span 7;
}

/* TITULO */
.conteudo_noticas:nth-child(2) {
    grid-column: 1 / 8;
    grid-row: 2 / span 5;
    overflow: hidden;
}

.conteudo_noticas:nth-child(2) h1 {
    margin: 0;
    mix-blend-mode: multiply;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}