main article {
    min-height: 100vh;
    grid-template-rows: 15vh repeat(8, 1fr);
    gap: 20px;
}


@media (max-width: 1650px) and (max-height: 800px) {
    main article {
        min-height: 100vh;
        grid-template-rows: 15vh repeat(7, 1fr);
        gap: 20px;
    }
}