/* VIOLENCIA ----------------------------------------------------------- */
/* Imagem */
.conteudo_violencia:nth-child(1) {
    grid-column: 7 / span 8;
    grid-row: 2 / span 4;
}

/* Texto 1 */
.conteudo_violencia:nth-child(2) {
    grid-column: 1 / 4;
    grid-row: 2 / span 4;
}

/* Texto 1 */
.conteudo_violencia:nth-child(2) p {
    margin: 0;
}

/* Texto 2 */
.conteudo_violencia:nth-child(3) {
    grid-column: 7 / span 4;
    grid-row: 6 / span 4;
}

/* Texto 3 */
.conteudo_violencia:nth-child(4) {
    grid-column: 11 / span 4;
    grid-row: 6 / span 4;
}

/* Quote */
.conteudo_violencia:nth-child(5) {
    grid-column: 2 / span 3;
    grid-row: 6 / span 3;
    mix-blend-mode: multiply;
    align-self: center;
}

.conteudo_violencia:nth-child(5) h3 {
    margin-bottom: 0;
}



/* RESPONSIVIDADE ---------------------------------------------------------------------- */
@media(max-width: 1650px) and (max-height: 800px) {
    /* Imagem */
    .conteudo_violencia:nth-child(1) {
        grid-row: 2 / span 3;
    }

    /* Texto 2 e 3 */
    .conteudo_violencia:nth-child(3),
    .conteudo_violencia:nth-child(4) {
        grid-row: 5 / span 4;
    }

    /* Quote */
    .conteudo_violencia:nth-child(5) {
        grid-row: 5 / span 2;
        align-self: center;
    }
}


@media(max-width: 1580px) and (max-height: 620px) {

    /* Imagem */
    .conteudo_violencia:nth-child(1) {
        grid-row: 2 / span 3;
    }

    /* Texto 1 */
    .conteudo_violencia:nth-child(2) {
        grid-column: 1 / 6;
    }

    /* Texto 2 e 3 */
    .conteudo_violencia:nth-child(3),
    .conteudo_violencia:nth-child(4) {
        grid-row: 5 / span 2;
    }

    /* Quote */
    .conteudo_violencia:nth-child(5) {
        grid-row: 5 / span 2;
        align-self: center;
    }
}


@media(max-width: 1410px) and (max-height: 800px) {
    /* Texto 1 */
    .conteudo_violencia:nth-child(2) {
        grid-column: 1 / 6;
    }

    /* Quote */
    .conteudo_violencia:nth-child(5) {
        grid-row: 5 / span 2;
        align-self: center;
    }
}