/* VIOLENCIA ----------------------------------------------------------- */
/* Imagem */
.conteudo_violencia:nth-child(1) {
    grid-column: 7 / span 8;
    grid-row: 2 / span 4;
}

/* Texto 1 */
.conteudo_violencia:nth-child(2) {
    grid-column: 1 / 4;
    grid-row: 2 / span 4;
}

/* Texto 1 */
.conteudo_violencia:nth-child(2) p {
    margin: 0;
}

/* Texto 2 */
.conteudo_violencia:nth-child(3) {
    grid-column: 7 / span 4;
    grid-row: 6 / span 4;
}

/* Links */
.conteudo_violencia:nth-child(4) {
    grid-column: 7 / span 6;
    grid-row: 8 / span 4;
    margin-top: 2%;
}

.conteudo_violencia h3 {
    cursor: pointer;
    margin-bottom: 2%;
}

.conteudo_violencia div {
    align-self: start;
    opacity: 0;
    pointer-events: none;
}

.conteudo_violencia div a {
    line-height: 1.5rem;
    margin-top: 0;
    text-decoration: underline;
    color: black;
    position: relative;
    bottom: 15%;
}

.conteudo_violencia div.mostrar {
    opacity: 1;
    pointer-events: auto;
}

/* Texto 3 */
.conteudo_violencia:nth-child(5) {
    grid-column: 11 / span 4;
    grid-row: 6 / span 4;
}

/* Titulo */
.conteudo_violencia:nth-child(6) {
    grid-column: 2 / span 3;
    grid-row: 6 / span 3;
    mix-blend-mode: multiply;
    align-self: center;
}

.conteudo_violencia:nth-child(6) h3 {
    margin-bottom: 0;
}