main article {
    min-height: 100vh;
    grid-template-rows: 15vh repeat(8, 1fr);
}

/* DESIGN ----------------------------------------------------- */
#design {
    background-color: #DE71AA;
    grid-template-rows: 6vh repeat(10, 1fr);
    gap: 20px;
}

.artigo_design a {
    position: relative;
    display: block;
}

/* Does it make sense */
.artigo_design:nth-child(1) {
    grid-column: 1 / span 3;
    grid-row: 5 / span 3;
}

.artigo_design:nth-child(1) p {
    text-align: end;
    align-self: end;
}

/* For all womankind */
.artigo_design:nth-child(2) {
    grid-column: 4 / span 2;
    grid-row: 4 / span 3;
}

.artigo_design:nth-child(2) p {
    align-self: end;
}

/* We Can Do It ! */
.artigo_design:nth-child(3) {
    grid-column: 6 / span 2;
    grid-row: 2 / span 5;
    align-self: end;
}

.artigo_design:nth-child(3) p {
    align-self: end;
}

/* Too Young to Wed */
.artigo_design:nth-child(4) {
    grid-column: 8 / span 3;
    grid-row: 2 / span 5;
    align-self: end;
}

.artigo_design:nth-child(4) p {
    align-self: end;
}

/* Your body is a battleground */
.artigo_design:nth-child(5) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 6vh repeat(10, 1fr);
    gap: 20px;
}

.artigo_design:nth-child(5) a {
    grid-row: 7 / span 3;
    grid-column: 6 / span 3;
}

.artigo_design:nth-child(5) p {
    grid-row: 10 / span 2;
    grid-column: 4 / span 2;
    text-align: end;
    margin-top: 0;
}


/* The Most Evil Enemy of Women */
.artigo_design:nth-child(6) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 6vh repeat(10, 1fr);
    gap: 20px;
}

.artigo_design:nth-child(6) a {
    grid-row: 7 / span 3;
    grid-column: 9 / span 2;
}

.artigo_design:nth-child(6) p {
    grid-column: 11 / span 2;
    grid-row: 9 / span 2;
    align-self: end;
}

/* Cleaning the Drapes */
.artigo_design:nth-child(7) {
    grid-column: 11 / span 4;
    grid-row: 4 / span 3;
}

.artigo_design:nth-child(7) p {
    align-self: end;
}




/* RESPONSIVIDADE ------------------------------------------------------------ */
@media (max-width: 1650px) and (max-height: 800px) {
    /* Your body is a battleground */
    .artigo_design:nth-child(5) p {
        grid-row: 9 / span 2;
        grid-column: 3 / span 3;
        align-self: end;
    }


    /* The Most Evil Enemy of Women */
    .artigo_design:nth-child(6) p {
        grid-row: 9 / span 2;
        align-self: start;
    }
}