/* FILMES ----------------------------------------------- */
.artigo_filme a {
    position: relative;
    display: block;
}

.artigo_filme,
.img_title {
    grid-column: span 2;
    grid-row: 2 / span 5;
}

.img_title h3, .img_title p {
    margin: 0;
}

#artigo_filme_title {
    grid-column: 1 / -1;
    grid-row: 7 / 10;
    text-align: center;
}

/* hover */
.artigo_filme a:hover .img_title {
    opacity: 1;
}