main article {
    min-height: 100vh;
    grid-template-rows: 15vh repeat(8, 1fr);
}

/* INTRODUCAO ---------------------------------------- */
#intro {
    padding-right: 0;
    grid-template-columns: repeat(14, 1fr);
}

#artigo_intro {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 15vh repeat(8, 1fr);
}

#artigo_intro:first-child {
    grid-column: 6 / 15;
    grid-row: 2 / 9;
    position: relative;
    overflow: hidden;
}

#artigo_intro h1 {
    padding-top: 5%;
    grid-column: 1 / 10;
    grid-row: 2 / 8;
    align-self: start;
    margin: 0;
    position: relative;
    overflow: hidden;
    mix-blend-mode: multiply;
}

#artigo_intro p {
    padding-top: 5%;
    grid-column: 1 / 4;
    grid-row: 7 / 8;
    color: black;
    z-index: 99;
    text-align: start;
    align-self: end;
    padding-right: 70px;
}

#artigo_intro img {
    position: absolute;
    object-fit: cover;
    object-position: top center;
    padding-top: 2%;
}


@media(max-height: 600px) {
    #artigo_intro h1 {
            grid-column: 1 / 7;
        }
}
