/* LIVROS ----------------------------------------------- */
/* Novas Cartas */
.artigo_livro:nth-child(1) {
    grid-column: 1 / span 5;
    grid-row: 3 / span 7;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.artigo_livro:nth-child(1) a {
    grid-column: 1 / 4;
    grid-row: 3 / 7;
}


.artigo_livro:nth-child(1) p {
    grid-column: 1 / 4;
    grid-row: 7 / 9;
    align-self: end;
    padding-bottom: 13vh;
}

.artigo_livro:nth-child(1) h3 {
    grid-column: 3 / 7;
    grid-row: 5 / 7;
    align-self: end;
    margin-left: 12%;
    mix-blend-mode: multiply;
}

/* The Second Sex */
.artigo_livro:nth-child(2) {
    grid-column: 5 / 7;
    grid-row: 2 / 4;
}


.artigo_livro:nth-child(2) p {
    grid-column: 7 / 9;
    align-self: end;
    padding-bottom: 13vh;
}


/* Happening */
.artigo_livro:nth-child(3) {
    grid-column: 8 / 10;
    grid-row: 5 / 10;
    position: relative;
}


.artigo_livro:nth-child(3) p {
    align-self: end;
    padding-bottom: 13vh;
}

/* Baseline Shift */
.artigo_livro:nth-child(4) {
    grid-column: 10 / span 5;
    grid-row: 2 / span 7;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.artigo_livro:nth-child(4) a {
    grid-column: 3 / 6;
    grid-row: 1 / 5;
}


.artigo_livro:nth-child(4) p {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: end;
    align-self: end;
    margin-bottom: 0;
}

.artigo_livro:nth-child(4) h3 {
    grid-column: 1 / 4;
    grid-row: 4 / 7;
    text-align: end;
    margin-left: 15%;
    mix-blend-mode: multiply;
    margin-top: 5%;
}