/* MUSICA ----------------------------------------------- */
.artigo_musica a {
    position: relative;
    display: block;
}

/* Part of Me */
.artigo_musica:nth-child(1),
.img_title:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 6 / span 3;
}

/* The Man */
.artigo_musica:nth-child(2),
.img_title:nth-child(2) {
    grid-column: 3 / span 2;
    grid-row: 5 / span 3;
}

.artigo_musica:nth-child(2) {
    position: relative;
    bottom: 15%;
}

/* What was I made for */
.artigo_musica:nth-child(3),
.img_title:nth-child(3) {
    grid-column: 5 / span 2;
    grid-row: 6 / span 3;
}

/* Madrugada */
.artigo_musica:nth-child(4),
.img_title:nth-child(4) {
    grid-column: 7 / span 2;
    grid-row: 5 / span 3;
}

/* Labour */
.artigo_musica:nth-child(5),
.img_title:nth-child(5) {
    grid-column: 9 / span 2;
    grid-row: 6 / span 3;
}

/* Feia */
.artigo_musica:nth-child(6),
.img_title:nth-child(6) {
    grid-column: 11 / span 2;
    grid-row: 4 / span 3;
}

/* Feia */
.artigo_musica:nth-child(7),
.img_title:nth-child(7) {
    grid-column: 13 / span 2;
    grid-row: 5 / span 3;
}

/* Titulo */
#artigo_musica_title_1 {
    grid-column: 1 / span 6;
    grid-row: 2 / span 2;
}

#artigo_musica_title_2 {
    grid-column: 10 / span 5;
    grid-row: 7 / span 2;
}

#artigo_musica_title_1 h1,
#artigo_musica_title_2 h1 {
    margin: 0;
    mix-blend-mode: multiply;
}

#artigo_musica_title_2 h1 {
    margin-top: 5%;
    text-align: end;
}

#artigo_musica_title_2 p {
    text-align: end;
}

.img_title h3,
.img_title p {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
}

/* hover */
.artigo_musica a:hover .img_title {
    opacity: 1;
}